@page "/hr-dashboard"
@inject NavigationManager Navigation

<h3>HR Dashboard</h3>

<nav class="nav flex-column">
    <NavLink href="/employees/hr" class="nav-link">Employees</NavLink>
    <NavLink href="/approvalrequests/hr" class="nav-link">Approval Requests</NavLink>
    <NavLink href="/leaverequests/hr" class="nav-link">Leave Requests</NavLink>
    <NavLink href="/projects/hr" class="nav-link">Projects</NavLink>
</nav>
